.container-content-header-left h2 {
    font-size: 3rem;
    font-weight: 600;
    line-height: 3rem;
    height: max-content;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.bg {
    background-color: rgba(53, 55, 58, 0.3);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

/* .container-content-main div:last-child {
    border-bottom: none !important;
    padding-bottom: 0px !important;
} */